body {
    margin-left: 20px;
}

.medtd {
    width: 350px;
}

td {
    vertical-align: middle;
}

#task-intro-screen,
#query-intro-screen,
#confirm-screen,
#dq-confirm-screen,
#config-screen,
#query-request-screen,
#direct-query-request-screen,
#attachment-submit-screen,
#attachment-confirm-screen,
.dvt {
    align-self: center;
    width: 700px;
    margin-bottom: 1rem;
}

.screen,
#medrec-meds {
    display: none;
}

#config-text {
    width: 660px;
    height: 200px;
}

img {
    margin-right: 10px;
    width: 66px;
}

.wine-row {
    display: flex;
    flex-direction: row;
    height: 80px;
}

.wine-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#selection-query-list div.card,
#search-criteria,
#subsearch {
    margin-bottom: 5px;
}

#review-lists,
#review-workflow {
    width: 700px;
}

#text-output,
#text-output2,
#dq-text-output,
#claim-output,
#binary-output,
#parameter-output,
#operation-output {
    height: 300px;
    width: 600px;
}

.sub-inline {
    display: inline-block;
}

.inline-elem {
    margin-inline: 5px;
}